# SPDX-License-Identifier: MIT
# Copyright (c) 2025 Nguyễn Ngọc Phú Tỷ
# This file is part of ev-charging-app and is licensed under the
# MIT License. See the LICENSE file in the project root for details.

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
.venv/
.env
.ev_*/
.git/
.gitignore
Dockerfile
# Do not ignore the entrypoint script
# docker-entrypoint.sh
# Dataset repo is fetched during build
# ev-charging-open-data/
