MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=ev_charging
EV_OPEN_DATA_DIR=ev-charging-open-data/data
OSRM_URL=http://router.project-osrm.org/route/v1/driving
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USERNAME=your-smtp-username
SMTP_PASSWORD=your-smtp-password
SMTP_USE_TLS=true
EMAIL_FROM=no-reply@example.com